* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE CONTAINERS */

/* Regole del Body */
body {

    /* background-color: black; */

}

/* Regole container-title */
.container-title {

    text-align: center;
    align-content: center;
    width: 1487px;
    height: 100px;
    background-image: url(../IMG/wall.png);
    background-size: cover;

}

/* Regole container-main */
.container-main {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    padding: 20px, 0;

}

/* Regole container-card */
.container-card {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    width: 1487px;
    height: auto;
    background-image: url(../IMG/cork.png);
    background-size: cover;
    padding: 50px 150px;

}

/* Regole delle card */
.card {

    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    border: 1px solid black;
    text-align: start;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.card:hover {

    transform: translateY(-10px) scale(1.05) rotate(10deg);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 3);
    cursor: pointer;

}

/* Regole container-img  */
.container-img {

    height: 300px;
    width: 100%;
    background-image: url(../IMG/lizgrin-f-RU2KZDWLzdE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

.container-img img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Regole content */
.content {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;

}


/* REGOLE ELEMENTI */

/* Titoli */
h1 {

    font-size: 70px;

}

h2 {

    font-size: 24px;

}

h1,
h2 {

    font-family: "Edu TAS Beginner", serif;

}

/* Date */
span {

    font-size: 16px;
    padding-top: 20px;
    color: lightslategray;
    font-family: "Sometype Mono", monospace;

}

/* RESPONSIVE */
/* Media Queries per dispositivi più piccoli */

/* TABLET */
@media (max-width: 768px) {

    .container-card {

        grid-template-columns: 1fr 1fr;
        padding: 30px;

    }

    .container-title {

        font-size: 80px;

    }

    .container-img {

        height: 300px;

    }

}

/* MOBILE */
@media (max-width: 480px) {

    .container-card {

        grid-template-columns: 1fr;
        padding: 10px;

    }

    .container-img {

        height: 400px;

    }

}