* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* REGOLE CONTAINERS */
/* Regole del Body */
body {

    height: 100%;
    width: 100%;
    background-color: black;

}

/* Regole container-title */
.container-title {

    text-align: center;
    align-content: center;
    width: 100%;
    max-width: 50vw;
    background-image: url(../IMG/wall.png);
    background-position: center;

}

/* Regole container-main */
.container-main {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

}

/* Regole container-card */
.container-card {

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
    width: 100%;
    max-width: 50vw;
    background-image: url(../IMG/cork.png);
    background-position: center;
    padding: 3vw 6vw;

}

/* Regole delle card */
.card {

    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: start;
    padding: 0.6vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.card:hover {

    transform: translateY(-10px) scale(1.05) rotate(10deg);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 3);
    cursor: pointer;

}

/* Regole container-img  */
.container-img {

    display: flex;
    justify-content: center;
    height: 11vw;
    width: 11vw;
    overflow: hidden;

}

.container-img img {

    height: auto;
    max-height: 100%;
    object-fit: contain;

}

/* regole pin */
.pin {

    position: absolute;
    top: -0.8vw;
    left: 50%;
    transform: translate(-50%);
    width: 1.5vw;
    z-index: 9999;

}


/* Regole content */
.content {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;

}


/* REGOLE ELEMENTI */

/* Titoli */
h1,
h2 {

    font-family: "Edu TAS Beginner", serif;

}

h1 {

    margin-top: 10px;
    font-size: 3vw;

}

h2 {

    font-size: 1vw;

}

/* Date */
span {

    font-size: 1vw;
    padding-top: 20px;
    color: lightslategray;
    font-family: "Sometype Mono", monospace;

}


/* RESPONSIVE */
/* Media Queries per dispositivi più piccoli */

/* TABLET */
@media (max-width: 768px) {

    .container-title {

        max-width: 100vw;

    }

    .container-card {

        max-width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        padding: 6vw;
        gap: 4vw;

    }

    .card {

        padding: 2vw;

    }

    .container-img {

        height: 45vw;
        width: 40vw;

    }

    .pin {

        top: -1.7vw;
        width: 4.5vw;

    }

    h1 {

        font-size: 13vw;

    }

    h2 {

        font-size: 4vw;

    }

    span {

        font-size: 3vw;

    }

}

/* MOBILE */
@media (max-width: 480px) {

    .container-card {

        grid-template-columns: 1fr;
        padding: 10vw;

    }

    .card {
   
        padding: 4vw;
        margin-bottom: 3vw;
        position: relative;

    }

    .container-img {

        height: 70vw;
        width: 75vw;

    }

    .container-img img {

        margin-top: 5px;
        object-fit: contain;

    }

    .pin {

        position: absolute;
        top: -3.5vw;
        left: 50%;
        transform: translateX(-50%);
        width: 7.5vw;
        z-index: 9999;

    }


    h1 {

        font-size: 18vw;

    }

    h2 {

        font-size: 8vw;

    }

    span {

        font-size: 5.5vw;

    }

}